{% extends "base.html" %}

{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/verify.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script type="text/javascript" src="{% static 'js/verify.js' %}"> </script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

{% endblock %}

{% block title %} Forgot Password {% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}")</script>
    {% endfor %}
{% endif %}

<img src="{% static 'img/forgot.jpg' %}" class="banner">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container height-100 d-flex justify-content-center" style="margin-top: 50px; margin-bottom: 50px;">
      <div class="card p-2 text-center">
          <h6>Please enter the one time password <br> to verify your account</h6>
          <div> <span>A code has been sent to your email</span> </div>
          <form action="{% url 'Verify' %}" method="post">
              {% csrf_token %}
              <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                  <input class="m-2 text-center form-control rounded" type="text" name="first" id="first" maxlength="1" />
                  <input class="m-2 text-center form-control rounded" type="text" name="second" id="second" maxlength="1" />
                  <input class="m-2 text-center form-control rounded" type="text" name="third" id="third" maxlength="1" />
                  <input class="m-2 text-center form-control rounded" type="text" name="fourth" id="fourth" maxlength="1" />
                  <input class="m-2 text-center form-control rounded" type="text" name="fifth" id="fifth" maxlength="1" />
                  <input class="m-2 text-center form-control rounded" type="text" name="sixth" id="sixth" maxlength="1" />
              </div>
              <div class="mt-4"> <button class="btn btn-danger px-4 validate">Validate</button> </div>
          </form>
      </div>
</div>

{% endblock %}