<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% block head %} {% endblock %}

    <title> {% block title %} {% endblock %} </title>

  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/user">
        <img src="{% static 'img/Logo.png' %}" alt="" width="30" height="30" class="d-inline-block align-text-top">
        &nbsp; Cloud Kitchen
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% block home %} {% endblock %}" aria-current="page" href="/user">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block about %} {% endblock %}" href="/user/about/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block contact %} {% endblock %}" href="/user/contact/">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% block profile %} {% endblock %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> {{ name }} </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/user/profile/">Profile</a></li>
              <li><a class="dropdown-item" href="/user/orderHistory/">Order History</a></li>
              <li><a class="dropdown-item" href="/user/logout/">Log Out</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block restaurants %} {% endblock %}" href="/user/browseRestaurant/">Browse Restaurants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block cart %} {% endblock %}" href="/user/cart/">Cart <span class="badge bg-secondary">{% block items %} {% endblock %}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block order %} {% endblock %}" href="/user/order/">Order</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %} {% endblock %}

  <footer class="text-center text-lg-start text-white" style="background-color: black">
    <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="https://www.facebook.com/" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.twitter.com/" class="text-white me-4"><i class="fab fa-twitter"></i></a>
        <a href="https://mail.google.com/" class="text-white me-4"><i class="fab fa-google"></i></a>
        <a href="https://www.instagram.com/" class="text-white me-4"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/" class="text-white me-4"><i class="fab fa-linkedin"></i></a>
      </div>
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Cloud Kitchen</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 127px; background-color: #7c4dff; height: 2px" />
            <p>
              For us, it's not just about bringing you good food from your favourite restaurants. It's about making a
              connection, which is why we sit down with the chefs, dreaming up menus that will arrive fresh and full of
              flavour. Try us!
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Quick links</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 100px; background-color: #7c4dff; height: 2px" />
            <p> <a href="/user/browseRestaurant/" class="text-white" style="text-decoration:none">Browse Restaurants</a> </p>
            <p> <a href="/user/order/" class="text-white" style="text-decoration:none">Orders</a> </p>
            <p> <a href="/user/orderHistory/" class="text-white" style="text-decoration:none">Order History</a> </p>
            <p> <a href="/user/contact/" class="text-white" style="text-decoration:none">Send Your Query</a> </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 75px; background-color: #7c4dff; height: 2px" />
            <p> <i class="fas fa-home mr-3"></i> New Delhi, Delhi - 110001, India </p>
            <p> <i class="fas fa-envelope mr-3"></i> cloudkitchen356@gmail.com </p>
            <p> <i class="fas fa-phone mr-3"></i> +91 9006531005 </p>
          </div>
        </div>
      </div>
    </section>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

  </body>
</html>