{% extends "userBase.html" %}

{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    input[type="checkbox"][readonly] {
        pointer-events: none;
    }
</style>

{% endblock %}

{% block title %} User | Order History {% endblock %}

{% block profile %} active {% endblock %}

{% block items %} {{ count }} {% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}")</script>
    {% endfor %}
{% endif %}

<img src="{% static 'img/orderHistory.jpg' %}" class="banner">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<br> <br> <br>
<center>
{% if obj %}
    <center>
    <table class="table table-striped" style="width: 95%;">
        <thead>
            <tr>
                <th class="table-dark" scope="col" style="width: 9%;">Order ID</th>
                <th class="table-dark" scope="col" style="width: 15%;">Restaurant Details</th>
                <th class="table-dark" scope="col" style="width: 14%;">Items</th>
                <th class="table-dark" scope="col" style="width: 9%;">Quantity</th>
                <th class="table-dark" scope="col" style="width: 7%;">Total Price</th>
                <th class="table-dark" scope="col" style="width: 12%;">Delivery Person</th>
                <th class="table-dark" scope="col" style="width: 12%;">Delivery Address</th>
                <th class="table-dark" scope="col" style="width: 9%;">Order Date</th>
                <th class="table-dark" scope="col" style="width: 8%;">Delivery Time</th>
            </tr>
        </thead>
        <tbody>
            {% for i in obj %}
                <tr>
                    <td>{{ i.order_number }}</td>
                    <td>
                        <b>{{ i.restaurant.restaurant_name }}</b> <br> <br>
                        {{ i.restaurant.address }} <br>
                        {{ i.restaurant.city }} - {{ i.restaurant.zip }} <br> <br>
                        {{ i.restaurant.restaurant_contact }}
                    </td>
                    <td>
                        {% for key, value in items.items %}
                            {% if key == i.order_number %}
                                {% for j in value %}
                                    {{ j }} <br>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for key, value in quantity.items %}
                            {% if key == i.order_number %}
                                {% for j in value %}
                                    {{ j }} <br>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>Rs {{ i.total }}</td>
                    <td>
                        {% for key, value in delivery_name.items %}
                            {% if key == i.order_number %}
                                {% for j in value %}
                                    {{ j }} <br>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        {% for key, value in delivery_contact.items %}
                            {% if key == i.order_number %}
                                {% for j in value %}
                                    {{ j }} <br>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ i.address.line1 }} <br>
                        {{ i.address.line2 }} <br>
                        {{ i.address.landmark }} <br>
                        {{ i.address.locality }} <br>
                        {{ i.address.city }} - {{ i.address.zip }}
                    </td>
                    <td>
                        {{ i.date }}
                    </td>
                    <td>
                        {{ i.time }}
                    </td>
                </tr>
                <tr>
                    <td colspan="9" align="center">
                        {% for key, value in feedback.items %}
                            {% if key == i.order_number %}
                                {% if value %}
                                    <button type="button" class="btn btn-primary" disabled>Feedback Submitted</button>
                                {% else %}
                                    <a href="/user/submitFeedback/{{ i.order_number }}"><button type="button" class="btn btn-primary">Submit Feedback</button></a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </center>
    <br>
{% else %}
    <h1 align="center">No Order History</h1>
    <br> <br>
{% endif %}
</center>
<br>

{% endblock %}