{% extends "restaurantBase.html" %}

{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    input[type="checkbox"][readonly] {
        pointer-events: none;
    }
</style>

<script>
    function feedback(message) {
        alert("Feedback: \n" + message);
    }
</script>

{% endblock %}

{% block title %} Restaurant | Order History {% endblock %}

{% block profile %} active {% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}")</script>
    {% endfor %}
{% endif %}

<img src="{% static 'img/orderHistory.jpg' %}" class="banner">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<br> <br> <br>

{% if obj %}
    <center>
    <table class="table table-striped" style="width: 90%;">
        <thead>
            <tr>
                <th class="table-dark" scope="col" style="width: 12%;">Order ID</th>
                <th class="table-dark" scope="col" style="width: 16%;">Items</th>
                <th class="table-dark" scope="col" style="width: 10%;">Quantity</th>
                <th class="table-dark" scope="col" style="width: 10%;">Total Price</th>
                <th class="table-dark" scope="col" style="width: 16%;">Delivery Person</th>
                <th class="table-dark" scope="col" style="width: 13%;">Order Date</th>
                <th class="table-dark" scope="col" style="width: 13%;">Delivery Time</th>
            </tr>
        </thead>
        <tbody>
            {% for i in obj %}
                <tr>
                    <td>{{ i.order_number }}</td>
                    <td>
                        {% for key, value in items.items %}
                            {% if key == i.order_number %}
                                {% for j in value %}
                                    {{ j }} <br>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for key, value in quantity.items %}
                            {% if key == i.order_number %}
                                {% for j in value %}
                                    {{ j }} <br>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>Rs {{ i.total }}</td>
                    <td>
                          {% for key, value in delivery_name.items %}
                              {% if key == i.order_number %}
                                  {% for j in value %}
                                      {{ j }} <br>
                                  {% endfor %}
                              {% endif %}
                          {% endfor %}
                          {% for key, value in delivery_contact.items %}
                              {% if key == i.order_number %}
                                  {% for j in value %}
                                      {{ j }} <br>
                                  {% endfor %}
                              {% endif %}
                          {% endfor %}
                    </td>
                    <td>
                        {{ i.date }}
                    </td>
                    <td>
                        {{ i.time }}
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="7">
                        {% for key, value in feedback.items %}
                            {% if key == i.order_number %}
                                {% if value %}
                                <div class="row">
                                    <div class="col-sm-3 col-12">
                                        <span class="align-middle"><b>Food Quality:
                                        {% if "5" in value.food_quality %}
                                            &#9733; &#9733; &#9733; &#9733; &#9733;
                                        {% endif %}
                                        {% if "4" in value.food_quality %}
                                            &#9733; &#9733; &#9733; &#9733;
                                        {% endif %}
                                        {% if "3" in value.food_quality %}
                                            &#9733; &#9733; &#9733;
                                        {% endif %}
                                        {% if "2" in value.food_quality %}
                                            &#9733; &#9733;
                                        {% endif %}
                                        {% if "1" in value.food_quality %}
                                            &#9733;
                                        {% endif %}</b></span>
                                    </div>
                                    <div class="col-sm-3 col-12">
                                        <span class="align-middle"><b>Order Accuracy:
                                        {% if "5" in value.order_accuracy %}
                                            &#9733; &#9733; &#9733; &#9733; &#9733;
                                        {% endif %}
                                        {% if "4" in value.order_accuracy %}
                                            &#9733; &#9733; &#9733; &#9733;
                                        {% endif %}
                                        {% if "3" in value.order_accuracy %}
                                            &#9733; &#9733; &#9733;
                                        {% endif %}
                                        {% if "2" in value.order_accuracy %}
                                            &#9733; &#9733;
                                        {% endif %}
                                        {% if "1" in value.order_accuracy %}
                                            &#9733;
                                        {% endif %}</b></span>
                                    </div>
                                    <div class="col-sm-3 col-12">
                                        <span class="align-middle"><b>Packaging:
                                        {% if "5" in value.packaging %}
                                            &#9733; &#9733; &#9733; &#9733; &#9733;
                                        {% endif %}
                                        {% if "4" in value.packaging %}
                                            &#9733; &#9733; &#9733; &#9733;
                                        {% endif %}
                                        {% if "3" in value.packaging %}
                                            &#9733; &#9733; &#9733;
                                        {% endif %}
                                        {% if "2" in value.packaging %}
                                            &#9733; &#9733;
                                        {% endif %}
                                        {% if "1" in value.packaging %}
                                            &#9733;
                                        {% endif %}</b></span>
                                    </div>
                                    <div class="col-sm-3 col-12">
                                        <button type="button" class="btn btn-secondary" onclick="return feedback('{{ value.feedback }}');">View Feedback</button>
                                    </div>
                                </div>
                                {% else %}
                                    <span class="align-middle"><b>No Ratings & Feedback</b></span>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </center>
    <br>
{% else %}
    <h1 align="center">No Order History</h1>
    <br> <br>
{% endif %}
</center>
<br>

{% endblock %}